.footer{
    background-color:#FCC419;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.copy{
  display: flex;
  justify-content: center;
}
@media screen and (max-width:800px){
    .footer{
        padding-top: 10px;
        padding-bottom: 10px;
        width: auto;
      }
      .copy{
        padding-left: 50px;
      }
}